[Application]
name=DocCopyNLoad
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=Doc_Copy:main
icon=myapp.ico

[Python]
version=2.7.12

[Include]
# Importable packages that your application requires, one per line
packages = requests
     pydrive

# Other files and folders that should be installed
files = client_secrets.json